.custom-select-wrapper {
    position: relative;
    user-select: none;
    text-align: center;
    padding: 0 1rem;
}

.custom-select-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    /*height: 16.67vh;*/
}
.custom-select-header > small {
    font-size: 1rem;
    color: gray;
    font-family: "Helvetica Condensed", sans-serif;
    padding-right: 0.25rem
}
.custom-select-header > div {
    flex-grow: 1;
    text-align: center;
    font-weight: bolder;
}
.custom-select-list {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    padding: 10px 0;
    /*background-color: #fff;*/
    z-index: 10;
    background-color: rgba(64, 64, 64, 0.5);
}
.custom-select-list.down {
    top: 100%;
}
.custom-select-list.up {
    bottom: 100%;
}

.custom-select-list div, .custom-select-list-up div {
    padding: 10px;
    cursor: pointer;
}

.custom-select-list div:hover, .custom-select-list-up div:hover{
    background-color: #f2f2f2;
}
